<!-- navbar -->
<nav class="navbar navbar-dark bg-primary">
    <!-- Navbar content -->
    <h1>REMINDER APP</h1>
    <span class="navbar-text">
        Make life easy with reminder app
    </span>
</nav>



<!-- string interpolation -->
<h2>{{caption}}</h2>





<!-- login -->
<div class="container">

    <div class="card">

        <div class="cardheader mt-4 mb-4">
            <h2>Sign in</h2>
        </div>
        <div class="cardbody">
            <form [formGroup]="loginForm">

                <div class=" mb-4 text-center ms-3 me-3 ">
                    <!-- <input type="text" placeholder="user id" size="40" style="height: 40px;"> -->

                    <!-- property binding -->
                    <!-- <input type="text" [placeholder]="userid" size="40" style="height: 40px;"> -->

<!-- event binding using $event -->
                    <!-- <input type="text" [placeholder]="userid"  style="height: 40px;" (change)="useridchange($event)" class="form-control"> -->


                    <!-- two way binding -->
                                  <!-- <input type="text" [placeholder]="userid"  [(ngModel)]="id" name="id" style="height: 40px;" class="form-control"> -->
      
                                  <input type="text" [placeholder]="userid"  formControlName="id" name="id" style="height: 40px;" class="form-control">

                </div>
                <div class=" mb-5 text-center ms-3 me-3 ">
                    <!-- <input type="password" placeholder="password" size="40" style="height: 40px;"> -->

                    <!-- property binding -->
                    <!-- <input type="password" [placeholder]="password" size="40" style="height: 40px;"> -->

                    <!-- event binding using $event -->
                    <!-- <input type="password" [placeholder]="password"  style="height: 40px;" (change)="pswdchange($event)" class="form-control"> -->

<!-- two way binding -->
                    <!-- <input type="password" [placeholder]="password"  style="height: 40px;" [(ngModel)]="pswd"  name="pswd" class="form-control"> -->

                    <input type="password" [placeholder]="password"  style="height: 40px;" formControlName="pswd"  name="pswd" class="form-control">

                </div>
                <div class="text-center mb-3">
                    <!-- <button class="btn btn-success w-50">Login</button> -->

                    <!-- event binding -->
                    <!-- <button class="btn btn-success w-50 " (click)="login()">Login</button> -->

                                        <!-- two way binding -->
                                        <button class="btn btn-success w-50 " (click)="login()">Login</button>


                </div>
            </form>
        </div>

<p class="ms-2">New to our app? <a routerLink="register">Register</a></p>
    </div>


</div>